.row
  .pull-right.btn.btn-info= link_to 'Update App', multiple_update_path, method: :put

.row
  .span6
    #dynos-chart-holder
  .span6
    #addons-chart-holder


- @app_groups.each do |group|
  .well.row
    .span2
    .span6
      %h1.text-center
        = link_to group.name, group_path(group.name)
        = content_tag(:i, '', class: 'icon-tags')
    .span3
      - if group.apps.present?
        %h4
          = "#{group.dynos_count}"
          %small dynos
        %h4
          = "#{number_to_currency(group.addon_cost)}"
          %small Addons
  - if group.apps.present?
    - group.apps.each do |app|
      .offset2
        %h3
          = formatted_dynos_status_label(app)
          = link_to app.name, heroku_app_path(app)
          %small= link_to app.web_url, app.web_url
        %dl.dl-horizontal
          %dt dynos
          %dd= app.dynos_summary
          %dt Addon Cost
          %dd= number_to_currency(app.addon_cost)
  - else
    %p.text-center No Apps.
    %hr/

:coffee
  $(document).ready ->

    dynosChartPosition =
      positionId: 'dynos-chart-holder'
      chart_x: 250
      chart_y: 200
      radial: 120
      title_x: 240
      title_y: 30
      title_pos: "west"
    HerokuDashboard.displayChart('Dynos', 20000, "#{dynos_info_path(format: :json)}", dynosChartPosition)

    addonsChartPosition =
      positionId: 'addons-chart-holder'
      chart_x: 280
      chart_y: 200
      radial: 120
      title_x: 260
      title_y: 30
      title_pos: "west"
    HerokuDashboard.displayChart('Addons', 2500, "#{addons_info_path(format: :json)}", addonsChartPosition)
