.row
  .span6.offset1
    %h1= @group.name
    .span6.offset1
      %dl
        - @group.apps.each do |app|
          %dt= link_to app.name, heroku_app_path(app)
          %dd= "Dynos: #{app.dynos_summary}"
          %dd= "Addon count: #{app.addons.count}"
          %br/

  .span3.offset1
    .well.sidebar-nav
      %h4 Tags
      %ul.nav.nav-list
        - @groups.each do |group|
          %li= link_to group.name, group_path(group.name)
