%h1 Heroku Apps

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @heroku_apps.each do |heroku_app|
    %tr
      %td= heroku_app.name
      %td= link_to 'Show', heroku_app
      %td= link_to 'Edit', edit_heroku_app_path(heroku_app)
      %td= link_to 'Destroy', heroku_app, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Heroku app', new_heroku_app_path
