.btn.btn-info.pull-right= link_to 'New App', new_heroku_app_path
%h1 Heroku Apps

%table.table.table-striped
  - @heroku_apps.each do |heroku_app|
    %tr
      %td
        %label{:class => "label #{formatted_dynos(heroku_app.dynos_status_score)}"} Status
      %td
        %h3
          = link_to heroku_app.name, heroku_app
          %small
            = raw linked_tags(heroku_app.tag_list)
            = content_tag(:i, '', class: 'icon-tags')
      %td= link_to content_tag(:i, '', :class => 'icon-trash'), heroku_app, :method => :delete, :data => { :confirm => 'Are you sure?' }
%hr/
