%h1.text-center New Heroku Apps

- if @app_names.empty?
  .text-center.alert.alert-warning Not exist registration Heroku apps.
- else
  .offset2
    = form_tag multiple_create_path, class: 'form-inline' do
      - @app_names.each do |name|
        %h4
          .checkbox
            = check_box_tag "apps[#{name}][name]", name
            %strong= name
            = text_field_tag "apps[#{name}][tags]", nil, placeholder: "Tag.."
      .btn-block
        = submit_tag 'Create', class: "btn btn-primary"
        .btn.btn-default= link_to 'Cancel', heroku_apps_path
