%dl.dl-horizontal
  %dt Name
  %dd
    = @heroku_app.name
    = link_to content_tag(:i, '', class: 'icon-edit'), edit_heroku_app_path(@heroku_app)
  %dt Tag
  %dd
    = @heroku_app.tag_list
    = link_to content_tag(:i, '', class: 'icon-tags'), edit_heroku_app_path(@heroku_app)
  %dt dynos
  %dd= @heroku_app.dynos
  %dt workers
  %dd= @heroku_app.workers
  %dt Web URL
  %dd= @heroku_app.web_url
  %dt release date
  %dd= @heroku_app.released_at
  %br/
  %dt
  %dd.btn.btn-info= link_to 'Get API Info', update_api_heroku_app_path(@heroku_app), method: :put
