%p.text-right= "Released: #{@heroku_app.try(:released_at).to_s}"

%h1.text-center
  = formatted_dynos_status_label(@heroku_app)
  = @heroku_app.name
  %small
    = raw linked_tags(@heroku_app.tag_list)
    = link_to content_tag(:i, '', class: 'icon-tags'), edit_heroku_app_path(@heroku_app)
  .btn.btn-danger.pull-right= link_to content_tag(:i, '', class: 'icon-trash'), @heroku_app, method: :delete, data: { confirm: 'Are you sure?' }

%p.text-center= link_to @heroku_app.web_url, @heroku_app.web_url

.row
  .span8
    .span7.offset1
      %dl.dl-horizontal
        - @heroku_app.dynos.sort.each do |dyno|
          %dt= dyno.name
          %dd= labeling_dyno_status(dyno.status)

      .pull-right
        - visible_style = @heroku_app.async_running? ? '' : 'display: none;'
        #async-running-status.label.label-warning{:style => "#{visible_style}"} Async running...
        #async-run-btn.btn.btn-info= link_to 'Update App Info', update_api_heroku_app_path(@heroku_app, format: :json), method: :put, remote: true

      - if @heroku_app.addons.present?
        %h3
          Addons
          %small= number_to_currency(@heroku_app.addon_cost)
        - @heroku_app.addons.each do |addon|
          .well
            %strong= addon.description
            %dl.dl-horizontal
              %dt Plan
              %dd= addon.plan_description
              %dt Price(cent)
              %dd= "#{addon.price['cents']} / #{addon.price['unit']}"
              %dt Group
              %dd= addon.group_description
              %dt sso_url
              %dd= link_to(addon.sso_url, addon.sso_url) if addon.sso_url.present?
      -else
        No Addons.
  .span3.offset1
    .well.sidebar-nav
      %h4= "\"#{@heroku_app.tag_list}\" Apps"
      %ul.nav.nav-list
        - @heroku_app.find_related_tags.each do |app|
          %li= link_to app.name, heroku_app_path(app)
:coffee
  $ ->
    $('body').on 'ajax:success', '#async-run-btn', (data, res, xhr) ->
      $('#async-running-status').show()
