%p#notice= notice

%dl.dl-horizontal
  %dt Name
  %dd= @heroku_app.name
  %dt Tag
  %dd= @heroku_app.tag_list
  %dt dynos
  %dd= @heroku_app.dynos
  %dt workers
  %dd= @heroku_app.workers
  %dt Web URL
  %dd= @heroku_app.web_url
  %dt release date
  %dd= @heroku_app.released_at

.btn= link_to 'Edit', edit_heroku_app_path(@heroku_app)
