%h2
  = @heroku_app.name
  = link_to content_tag(:i, '', class: 'icon-edit'), edit_heroku_app_path(@heroku_app)
.btn.btn-info.pull-right= link_to 'Get API Info', update_api_heroku_app_path(@heroku_app), method: :put
%dl.dl-horizontal
  %dt Tag
  %dd
    = raw linked_tags(@heroku_app.tag_list)
    = link_to content_tag(:i, '', class: 'icon-tags'), edit_heroku_app_path(@heroku_app)
  %dt dynos
  %dd= @heroku_app.dynos
  %dt workers
  %dd= @heroku_app.workers
  %dt Web URL
  %dd= link_to @heroku_app.web_url, @heroku_app.web_url
  %dt release date
  %dd= @heroku_app.released_at

- if @heroku_app.addons.present?
  %h3
    Addons
    %small= number_to_currency(@heroku_app.addon_cost)
  - @heroku_app.addons.each do |addon|
    .well
      %strong= addon.description
      %dl.dl-horizontal
        %dt Plan
        %dd= addon.plan_description
        %dt Price(cent)
        %dd= "#{addon.price['cents']} / #{addon.price['unit']}"
        %dt Group
        %dd= addon.group_description
        %dt sso_url
        %dd= link_to(addon.sso_url, addon.sso_url) if addon.sso_url.present?
-else
  No Addons.
